server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:votingdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: verysecretchangeme
  expiration-ms: 3600000
